# Dependencies
node_modules/

# Environment files
.env
backend/.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Solidity coverage
/coverage
/coverage.json

# Hardhat Ignition deployments
ignition/deployments/chain-31337

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db